<div class="edit-photo">
  <div class="edit-photo-container">
    <h2>Edit Photo Details</h2>

    <div class="photo-form">
      <form id="photo-form" method="post" action="/photos/<%= @entry.document_id %>" enctype="multipart/form-data">
        <input type="text" name="title" value="<%= @entry[:title] %>" placeholder="Title this photo" required/>
        <input type="text" name="blurb" value="<%= @entry[:blurb] %>" placeholder="Write something about this photo..."/>
        <input type="file" name="photo"/>
        <div id="progress-bar" class="progress-bar hidden">
          <div id="progress-bar-filler" class="progress-bar-filler"></div>
        </div>
      </form>

      <div class="submit">
<!--        <button class="primary" onclick="submit()">Submit</button>-->
        <input type="submit" class="primary" form="photo-form"/>
        <a href="/manage"><button>Cancel</button></a>
      </div>
    </div>
  </div>
</div>

<% if false %>
<%# TODO %>
<script type="text/javascript" charset="utf-8">
  submit = () => {
    const form = document.forms.namedItem('photo-form');

    const formData = new FormData(form);
    const request = new XMLHttpRequest();

    <%# if false %>
    const progressBar = document.getElementById('progress-bar');
    const progressBarWidth = progressBar.clientWidth;
    const progressBarFiller = document.getElementById('progress-bar-filler');
    request.onprogress = (event) => {
      const ratio = event.loaded / event.total;
      console.log(ratio);
      progressBarFiller.style.width = `${ratio * progressBarWidth}px`;
      progressBarFiller.innerText = `${ratio * 100}%`;
    };

    if (form.elements['photo'].value) {
      progressBarFiller.innerText = '0%';
      progressBar.classList.remove('hidden');
    }
    <%# end %>

    request.onreadystatechange = () => {
      if (request.readyState === XMLHttpRequest.DONE) location.href = '/';
    };

    request.open('POST', '/photos/<%= @entry.document_id %>', true);
    request.send(formData);
  }
</script>
<% end %>
