<div class="edit-photo">
  <div class="edit-photo-container">
    <h2>Edit Photo Details</h2>
    <div class="photo-form">
      <form id="photo-form" method="post" action="/photos/<%= @entry.document_id %>">
        <input type="text" name="title" value="<%= @entry[:title] %>" placeholder="Title this photo" required/>
        <input type="text" name="blurb" value="<%= @entry[:blurb] %>" placeholder="Write something about this photo..." required/>
      </form>

      <div class="submit">
        <input class="primary" type="submit" form="photo-form"/>
        <a href="/photos/manage"><button>Cancel</button></a>
      </div>
    </div>
  </div>
</div>
