<div>
  <header>
    <a href="/"><button>Go Back</button></a>
    <button onclick="logOut()">Log Out</button>
  </header>

  <div class="manage-photos">
    <div class="manage-photos-container">
      <div class="add-photo half">
        <h2>Add Photo</h2>
        <div class="photo-form">
          <form id="photo-form" method="post" action="/photos" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title this photo" required/>
            <input type="text" name="blurb" placeholder="Write something about this photo..."/>
            <input type="file" name="photo" required/>
          </form>

          <div class="submit">
            <input class="primary" type="submit" form="photo-form"/>
          </div>
        </div>
      </div>

      <div class="edit-photos half">
        <h2>Edit Photo Details</h2>

        <div class="entry-links">
          <% @entries.each do |entry| %>
            <a href="/photos/<%= entry.document_id %>"><%= entry[:title] %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.logOut = () => fetch('/login', { method: 'delete' }).then(() => location.href = '/');
</script>
