<div class="manage-photos-page">
  <header>
    <a href="/"><button>Go Back</button></a>
    <button id="logout">Log Out</button>
  </header>

  <main>
    <div class="manage-photos">
      <div class="add-photo half">
        <h2>Add Photo</h2>
        <div class="photo-form">
          <form class="form" id="photo-form">
            <input type="text" name="title" placeholder="Title this photo" required/>
            <input type="text" name="blurb" placeholder="Write something about this photo..."/>

            <div id="file-dropper" class="file-dropper">
              <p>drag a file here to add</p>
            </div>

            <div id="error" class="error"></div>
          </form>

          <div class="submit">
            <button id="submit" class="primary" >Submit</button>
          </div>
        </div>
      </div>

      <div class="edit-photos half">
        <h2>Edit Photo Details</h2>

        <div class="entry-links">
          <% @entries.each do |entry| %>
            <a href="/photos/<%= entry.document_id %>"><%= entry[:title] %></a>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>

<script src="/photo_form.js"></script>
<script type="text/javascript" charset="utf-8">
  document.addEventListener('DOMContentLoaded', () => {
    const logOut = document.getElementById('logout');
    logOut.addEventListener('click', (event) => {
      event.preventDefault();
      fetch('/login', { method: 'delete' }).then(() => location.href = '/');
    });

    const error = document.getElementById('error');
    photoFormSetup(
      '/photos',
      () => location.href = '/',
      (res) => res.json().then((json) => error.innerText = json['error'])
    );
  });
</script>
